<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>contact</title>
    <link rel="stylesheet" href="/frontend/css/contact.css">
</head>
<body>
    <img id="background-img" src="/frontend/images/contract2.gif"p></img>

    <div class="center">
        <div class="info-web">Div 1</div>
        <div class="info-sdt">Div 2</div>
    </div>

    <button class="back-home" onclick="backHome()">Back to Home</button>
    <div id="div-container">
        <div class="footer-div">Div 1</div>
        <div class="footer-div">Div 2</div>
        <div class="footer-div">Div 3</div>
    </div>
</body>
</html>

<script src="/frontend/js/contact.js"></script>