<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scuti AI</title>
    <link rel="stylesheet" href="/frontend/css/contact.css">
    <link rel="icon" href="/frontend/images/image-removebg-preview.png" type="image/png">
</head>
<body>
    <img id="background-img" src="/frontend/images/contract2.gif"p></img>

    <div class="center">
        <div class="info-web" onclick="window.open('https://scuti.asia/', '_blank');">https://scuti.asia/</div>
        <div class="info-sdt">024 6292 7275</div>
    </div>

    <button class="back-home" onclick="backTool()">Back</button>
    <div id="div-container">
        <div class="twitter-logo">Scuti_jp</div>
        <div class="fb-logo" onclick="window.open('https://www.facebook.com/scutiasia/');">Scuti JSC </div>
        <div class="instagram-logo">scuti_asia</div>
    </div>
</body>
</html>

<script src="/frontend/js/contact.js"></script>